:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* New Green Dark Theme */
  --background-color: #0f2c22;
  --secondary-background-color: #267238;
  --text-color: #bddbc0;
  --border-color: #479e55;
  --button-background: #6fc67b;
  --button-text-color: #0f2c22;
  --button-hover-background: #9fd6a5;
  --active-button-background: #9fd6a5;
  --highlight-color: #9fd6a5;
  --disabled-opacity: 0.5;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
}

input, select {
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.app-logo {
  display: block;
  max-width: 200px;
  width: 70%;
  margin: 20px auto 10px;
}

button {
  min-height: 44px;
}

.app-wrapper {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
